<% title "Source", false %>

<% content_for :header do %>
  <div class="buttons">
    <ul>
      <li><%= link_to t('.edit'), edit_source_path(@source) %></li>
      <li><%= link_to t('.destroy'), @source, :confirm => t('.are_you_sure'), :method => :delete %></li>
      <li><%= link_to t('.view_all'), sources_path %></li>
    </ul>
  </div>
  <h1><%= t('.source') %></h1>
<% end %>

<div class="inner">
  <p>
    <strong><%= Source.human_attribute_name(:name) %><%= t('punctuation.colon') %></strong>
    <%= @source.name %>
  </p>
</div>
