<% stylesheet "jquery-ui/jquery-ui", :media => "screen" %>
<% javascript "datepicker", "jquery.ui.datepicker-zh-CN" %>

<%= form_for @task do |f| %>
  <%= f.error_messages %>
  <div>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :due_at %><br />
    <%= f.text_field :due_at %>
  </div>
  <div>
    <%= f.label :assigned_to %><br />
    <%= f.collection_select :assigned_to, User.options_for_select, :id, :name %>
  </div>
  <div class="actions">
    <hr class="space" style="margin-bottom:4px" />
    <div><%= f.submit %></div>
  </div>
<% end %>
