<% stylesheet "jquery-ui/smoothness", :media => "screen" %>
<% javascript "jquery.ui.datepicker-zh-CN" %>

<%= form_for @task do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :due_at %><br />
    <%= f.text_field :due_at %>
  </p>
  <p>
    <%= f.label :assigned_to %><br />
    <%= f.collection_select :assigned_to, User.all, :id, :name %>
  </p>
  <p><%= f.submit %></p>
<% end %>
