<tr id="<%= "task_#{task.id}" %>">
  <td class="checkbox">
    <%= check_box_tag "task_#{task.id}", "1", task.completed?, :class => "task", :"data-id" => task.id %>
  </td>
  <td class="content">
    <div class="task_name">
      <% if params and params[:collection] == "assigned" %>
        <%= link_to task.assignee.username, task.assignee %> <%= t('punctuation.left_double_angle_bracket') %>
      <% else %>
        <% unless task.user.id == current_user.id %>
          <%= link_to task.user.username, task.user %> <%= t('punctuation.right_double_angle_bracket') %>
        <% end %>
      <% end %>
      <%= wrap_task_name(task.name) %>
    </div>
  </td>
  <td class="timestamp">
    <span class="due_date">
      <%= friendly_date(task.due_at, :style => true) %>
    </span>
  </td>
</tr>
