<tr id="<%= "task_#{task.id}" %>">
  <td class="checkbox">
    <%= check_box_tag "task_#{task.id}", "1", task.completed?, :class => "task", :"data-id" => task.id %>
  </td>
  <td class="content">
    <div class="task_name">
      <% if params and params[:collection] == "assigned" %>
        <%= link_to task.assignee.username, task.assignee %><%= t('punctuation.colon') %><%= task.name %>
      <% else %>
        <% unless task.user.id == current_user.id %>
          <%= link_to task.user.username, task.user %><%= t('punctuation.colon') %>
        <% end -%>
        <%= task.name %>
      <% end %>
    </div>
  </td>
  <td class="timestamp">
    <span><%= task.due_at.strftime('%Y-%m-%d') %></span>
  </td>
</tr>
