<% title t('.tasks'), false %>
<% javascript "resize_task_name.js", "jquery-ui" %>

<% content_for :head do %>
  <%= javascript_tag do %>
    $(function() {
      $("#add_task").dialog({
        autoOpen: false,
        width: 300,
        height: 280,
        modal: true,
        buttons: {
          "<%= escape_javascript(t('.submit')) %>": function() {
            $('form#new_task').submit();
          }
        }
      });
      $("#create_task .button a").click(function() {
        $("#add_task").dialog("open");
      });
    });
  <% end %>
<% end %>

<% content_for :header do %>
  <div class="buttons">
    <ul>
      <li><%= link_to_unless params[:collection].nil?, t('.assigned_to_me'), tasks_path %></li>
      <li class="separator">|</li>
      <li><%= link_to_unless params[:collection] == "assigned", t('.assigned_by_me'), tasks_path(:collection => "assigned") %></li>
    </ul>
  </div>
  <h1><%= link_to t('.tasks'), tasks_path %></h1>
<% end %>

<div class="inner">
  <div class="task_category"><%= t('.upcoming') %><%= t('punctuation.colon') %></div>
  <table id="upcoming_tasks" class="tasks hoverable">
    <% for task in @tasks.upcoming.order('due_at') %>
      <%= render task %>
    <% end %>
  </table>

  <div class="task_category"><%= t('.completed') %><%= t('punctuation.colon') %></div>
  <table id="completed_tasks" class="tasks hoverable">
    <% for task in @tasks.completed.order('due_at DESC') %>
      <%= render task %>
    <% end %>
  </table>
</div>

<% content_for :side do %>
  <div class="inner">
    <div id="create_task">
      <div class="button">
        <%= link_to "javascript:void(0)" do %>
          <span><%= t('.add_a_new_task') %></span>
        <% end %>
      </div>
    </div>
    <div id="add_task" class="block add_task popup" title="<%= t('.add_a_new_task') %>" style="display:none">
      <div class="indent">
        <%= render 'tasks/form' %>
      </div>
    </div>
  </div>
<% end %>
