<% title t('.tasks'), false %>
<% javascript "resize_task_name.js", "jquery-ui" %>

<% content_for :header do %>
  <div class="buttons">
    <ul>
      <li><%= link_to_unless params[:collection].nil?, t('.assigned_to_me'), tasks_path %></li>
      <li>|</li>
      <li><%= link_to_unless params[:collection] == "assigned", t('.assigned_by_me'), tasks_path(:collection => "assigned") %></li>
    </ul>
  </div>
  <h1><%= link_to t('.tasks'), tasks_path %></h1>
<% end %>

<div class="inner">
  <div class="task_category"><%= t('.upcoming') %><%= t('punctuation.colon') %></div>
  <table id="upcoming_tasks" class="tasks hoverable">
    <% for task in @tasks.upcoming.order('due_at') %>
      <%= render task %>
    <% end %>
  </table>

  <div class="task_category"><%= t('.completed') %><%= t('punctuation.colon') %></div>
  <table id="completed_tasks" class="tasks hoverable">
    <% for task in @tasks.completed.order('due_at DESC') %>
      <%= render task %>
    <% end %>
  </table>
</div>

<% content_for :side do %>
  <div class="inner">
    <div class="block add_task">
      <h2><%= t('.add_a_new_task') %></h2>
      <div class="indent">
        <%= render 'tasks/form' %>
      </div>
    </div>
  </div>
<% end %>
