<% title "Task" %>

<p>
  <strong>User:</strong>
  <%= @task.user_id %>
</p>
<p>
  <strong>Assigned To:</strong>
  <%= @task.assigned_to %>
</p>
<p>
  <strong>Completed By:</strong>
  <%= @task.completed_by %>
</p>
<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>
<p>
  <strong>Subject:</strong>
  <%= @task.subject_id %>
</p>
<p>
  <strong>Subject Type:</strong>
  <%= @task.subject_type %>
</p>
<p>
  <strong>Due At:</strong>
  <%= @task.due_at %>
</p>
<p>
  <strong>Completed At:</strong>
  <%= @task.completed_at %>
</p>
<p>
  <strong>Deleted At:</strong>
  <%= @task.deleted_at %>
</p>

<p>
  <%= link_to "Edit", edit_task_path(@task) %> |
  <%= link_to "Destroy", @task, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", tasks_path %>
</p>
