<% title t('.listing_users') %>

<div class="inner">
  <table style="width:100%">
    <tr>
      <th><%= User.human_attribute_name("username") %></th>
      <th><%= User.human_attribute_name("email") %></th>
      <th><%= User.human_attribute_name("mobile") %></th>
      <th><%= User.human_attribute_name("phone") %></th>
    </tr>
    <% for user in @users %>
      <tr>
        <td><%= link_to user.username, user %></td>
        <td><%= mail_to user.email %></td>
        <td><%= user.mobile %></td>
        <td><%= user.phone %></td>
      </tr>
    <% end %>
  </table>
</div>
