<% title t('.sign_up') %>

<div class="inner<%= " signup" if @user.new_record? %>">
  <p><%= t('.already_have_an_account') %><%= link_to t('.log_in'), login_path %><%= t('punctuation.period') %></p>

  <%= render 'form' %>
</div>
