<%= nested_form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.hidden_field :contact_id %>
  </div>
  <div class="field">
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>

  <%= f.fields_for :line_items do |builder| %>
    <%= render "orders/line_item_fields", :f => builder %>
  <% end %>
  <div>
    <%= f.link_to_add "Add a line item", :line_items %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
