<% javascript "nested_form" %>

<%= nested_form_for(@order) do |f| %>
  <%= f.error_messages %>

  <div>
    <%= f.hidden_field :contact_id %>
  </div>

  <table>
    <tr>
      <td class="label" style="vertical-align:top"><%= f.label :line_items %></td>
      <td>
        <%= f.fields_for :line_items do |builder| %>
          <%= render "orders/line_item_fields", :f => builder %>
        <% end %>
        <div>
          <%= f.link_to_add t('.add_a_line_item'), :line_items %>
        </div>
      </td>
    </tr>
    <tr>
      <td class="label"><%= f.label :shipping_method %></td>
      <td><%= f.select :shipping_method, Order::SHIPPING_METHOD %></td>
    </tr>

    <%= f.fields_for :addresses do |builder| %>
      <%= render "orders/address_fields", :f => builder %>
    <% end %>

    <tr class="actions">
      <td>
        &nbsp;
      </td>
      <td>
        <div>
          <%= f.submit %>
        </div>
      </td>
    </tr>
  </table>
<% end %>
