<%= div_for order do %>
  <div class="avatar">
    <%= image_tag 'order.png' %>
  </div>
  <div class="content">
    <div class="timestamp">
      <%= order.created_at.strftime('%Y-%m-%d %H:%M:%S') %>
    </div>
    <div class="header">
      <%= link_to order.contact.name + " (##{order.number})", order %>
    </div>
    <div class="meta">
      Created by <%= link_to activity.user.username, activity.user %>
    </div>
    <div class="body">
      Total <%= number_to_currency(order.total_price) %>
    </div>
  </div>
<% end %>
