<%= div_for order do %>
  <div class="avatar">
    <%= image_tag 'order.png' %>
  </div>
  <div class="content">
    <div class="timestamp">
      <%= activity.created_at.strftime('%Y-%m-%d %H:%M:%S') %>
    </div>
    <div class="header">
      <%= link_to order.contact.name + " (##{order.number})", order %>
    </div>
    <div class="meta">
      <%= t('.before_meta') %> <%= link_to activity.user.username, activity.user %> <%= t('.after_meta') %>
    </div>
    <div class="body">
      <p>
        <% case activity.action %>
        <% when "process" %>
          <%= t('.start_processing') %><%= t('punctuation.period') %>
        <% when "complete" %>
          <%= t('.completed') %><%= t('punctuation.period') %>
        <% else %> 
          <%= t('.order_created') %><%= t('punctuation.comma') %><%= t('.total') %> <%= number_to_currency(order.total_price) %><%= t('punctuation.period') %>
        <% end %>
      </p>
    </div>
  </div>
<% end %>
