<% title t('.editing_order') + " ##{@order.number}", false %>

<% content_for :head do %>
  <%= javascript_tag do %>
    var price_mapper = <%= raw @prices.to_json %>
  <% end %>
<% end %>

<% content_for :header do %>
  <div class="buttons">
    <ul>
      <li><%= link_to t('.show'), @order %></li>
      <li><%= link_to t('.back'), orders_path %></li>
    </ul>
  </div>
  <h1><%= t('.editing_order') + " ##{@order.number}" %></h1>
<% end %>

<div class="inner">
  <%= render 'form' %>
</div>
