<% title t('.orders') %>

<div class="inner">
  <table class="hoverable" style="width:100%">
    <tr>
      <th><%= sortable "number", Order.human_attribute_name('number') %></th>
      <th><%= sortable "contact_id", Order.human_attribute_name('contact') %></th>
      <th><%= sortable "state", Order.human_attribute_name('state') %></th>
      <th class="timestamp"><%= sortable "created_at", Order.human_attribute_name('created_at') %></th>
      <th class="number"><%= Order.human_attribute_name('quantity') %></th>
      <th class="number"><%= Order.human_attribute_name('total_price') %></th>
    </tr>

    <% @orders.each do |order| %>
    <tr>
      <td><%= link_to "##{order.number}", order %></td>
      <td><%= link_to order.contact.name, order.contact %></td>
      <td>
        <span class="state <%= order.state %>"><%= order.state_name %></span>
      </td>
      <td class="timestamp"><%= friendly_date(order.created_at) %></td>
      <td class="number"><%= order.total_products %></td>
      <td class="number"><%= number_to_currency(order.total_price) %></td>
    </tr>
    <% end %>
  </table>
</div>
