<% title "Listing orders" %>

<div class="inner">
  <table>
    <tr>
      <th>Contact</th>
      <th>Number</th>
      <th>Create</th>
      <th>State</th>
      <th></th>
    </tr>

    <% @orders.each do |order| %>
    <tr>
      <td><%= link_to order.contact.name, order.contact %></td>
      <td><%= link_to order.number, order %></td>
      <td><%= order.created_at.strftime('%Y-%m-%d') %></td>
      <td><%= order.state %></td>
      <td>
        &nbsp;&nbsp;&nbsp;
        <%= link_to 'Show', order %>
        <%= link_to 'Edit', edit_order_path(order) %>
        <%= link_to 'Destroy', order, :confirm => 'Are you sure?', :method => :delete %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
