<% title t('.orders') %>

<div class="inner">
  <table class="hoverable" style="width:100%">
    <tr>
      <th><%= Order.human_attribute_name('number') %></th>
      <th><%= Order.human_attribute_name('contact') %></th>
      <th class="number"><%= Order.human_attribute_name('quantity') %></th>
      <th class="number"><%= Order.human_attribute_name('total_price') %></th>
      <th class="timestamp"><%= Order.human_attribute_name('created_at') %></th>
      <th></th>
    </tr>

    <% @orders.each do |order| %>
    <tr>
      <td><%= link_to "##{order.number}", order %></td>
      <td><%= link_to order.contact.name, order.contact %></td>
      <td class="number"><%= order.total_products %></td>
      <td class="number"><%= number_to_currency(order.total_price) %></td>
      <td class="timestamp"><%= friendly_datetime(order.created_at) %></td>
      <td class="state"><span class="state <%= order.state %>"><%= order.state_name %></span></td>
    </tr>
    <% end %>
  </table>
</div>
