<div class="title">
  <h1>Order #<%= @order.number %></h1>
</div>

<div class="inner">
  <p id="notice"><%= notice %></p>

  <p>
    <b>State:</b>
    <%= @order.state %>
  </p>

  <% unless @order.line_items.empty? %>
    <h2>Line items</h2>
    <ul>
      <%= render @order.line_items %>
    </ul>
  <% end %>
</div>

<% content_for :side do %>
  <div class="inner">
    <% if @order.state?(:pending) %>
      <div>
        <%= link_to 'Edit', edit_order_path(@order) %>
      </div>
    <% end %>
    <div>
      <%= link_to @order.contact.name, @order.contact %>
    </div>
    <% case @order.state %>
      <% when "pending" then %>
        <%= button_to 'Process', order_path(@order, :e => "process"), :method => :put %>
      <% when "processing" then %>
        <%= button_to 'Complete', order_path(@order, :e => "complete"), :method => :put %>
    <% end %>
  </div>
<% end %>
