<% title t('.order') + " ##{@order.number}", false %>

<% content_for :header do %>
  <div class="buttons">
    <table>
      <tr>
        <td>
          <ul>
            <% if @order.state?(:pending) %>
            <li><%= link_to t('.edit'), edit_order_path(@order) %></li>
            <% end %>
          </ul>
        </td>
        <td>
          <% case @order.state %>
          <% when "pending" then %>
            <%= button_to t('.process'), order_path(@order, :e => "process"), :method => :put %>
          <% when "processing" then %>
            <%= button_to t('.complete'), order_path(@order, :e => "complete"), :method => :put %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
  <h1><%= t('.order') + " ##{@order.number}" %></h1>
  <br />
  <div>
    <div>
      <strong><%= t('.state') %></strong>
      <span class="state <%= @order.state %>"><%= @order.state_name %></span>
    </div>
  </div>
<% end %>

<div class="inner">
  <% unless @order.line_items.empty? %>
    <table class="order_details">
      <%= render @order.line_items %>
      <tr class="total_line">
        <td colspan="3">&Sigma;</td>
        <td class="total_cell"><%= number_to_currency(@order.total_price) %></td>
      </tr>
    </table>
  <% end %>

  <div class="add_note">
    <h2><%= t('.add_a_new_note') %></h2>
    <%= render 'notes/form' %>
  </div>

  <% unless Activity.aggregate_for(@order).empty? %>
    <div id="messages">
      <%= render Activity.aggregate_for(@order).order('created_at DESC') %>
    </div>
  <% end %>
</div>

<% content_for :side do %>
  <div class="inner">
    <div class="block">
      <h2><%= t('.info') %></h2>
      <table>
        <tr>
          <td class="label"><%= Order.human_attribute_name('contact') %></td>
          <td><%= link_to @order.contact.name, @order.contact %></td>
        </tr>
        <tr>
          <td class="label"><%= Order.human_attribute_name('created_at') %></td>
          <td><%= friendly_datetime(@order.created_at) %></td>
        </tr>
      </table>
    </div>
  </div>
<% end %>
