<div class="title">
  <h1>Order #<%= @order.number %></h1>
</div>

<div class="inner">
  <p id="notice"><%= notice %></p>

  <p>
    <b>State:</b>
    <%= @order.state %>
  </p>

  <% unless @order.line_items.empty? %>
    <table class="order_details">
      <%= render @order.line_items %>
      <tr class="total_line">
        <td colspan="3">&Sigma;</td>
        <td class="total_cell"><%= number_to_currency(@order.total_price) %></td>
      </tr>
    </table>
  <% end %>

  <div class="add_note">
    <h2>Add a new note</h2>
    <%= render 'notes/form' %>
  </div>

  <% unless @order.notes.empty? %>
    <div>
      <%= render @order.notes.order('created_at DESC') %>
    </div>
  <% end %>
</div>

<% content_for :side do %>
  <div class="inner">
    <% if @order.state?(:pending) %>
      <div>
        <%= link_to 'Edit', edit_order_path(@order) %>
      </div>
    <% end %>
    <div>
      <%= link_to @order.contact.name, @order.contact %>
    </div>
    <% case @order.state %>
      <% when "pending" then %>
        <%= button_to 'Process', order_path(@order, :e => "process"), :method => :put %>
      <% when "processing" then %>
        <%= button_to 'Complete', order_path(@order, :e => "complete"), :method => :put %>
    <% end %>
  </div>
<% end %>
