<div class="title">
  <h1>Order #<%= @order.number %></h1>
</div>

<div class="inner">
  <p id="notice"><%= notice %></p>

  <p>
    <b>State:</b>
    <%= @order.state %>
  </p>

  <% unless @order.line_items.empty? %>
    <h2>Line items</h2>
    <ul>
      <%= render @order.line_items %>
    </ul>
  <% end %>

  <div class="add_line_item">
    <h2>Add a new line item</h2>
    <%= render 'line_items/form' %>
  </div>
</div>

<% content_for :side do %>
  <div class="inner">
    <div>
      <%= link_to 'Edit', edit_order_path(@order) %>
    </div>
    <div>
      <%= link_to @order.contact.name, @order.contact %>
    </div>
  </div>
<% end %>
