<div class="title">
  <h1>Show order</h1>
</div>

<div class="inner">
  <p id="notice"><%= notice %></p>

  <p>
    <b>Contact:</b>
    <%= @order.contact_id %>
  </p>

  <p>
    <b>Number:</b>
    <%= @order.number %>
  </p>

  <p>
    <b>State:</b>
    <%= @order.state %>
  </p>


  <%= link_to 'Edit', edit_order_path(@order) %> |
  <%= link_to 'Back', orders_path %>

  <div class="add_line_item">
    <%= render 'line_items/form' %>
  </div>
</div>
