<% javascript "address_selector" %>
<% content_for :head do %>
  <%= javascript_tag do %>
    var city_mapper = <%= raw @cities.to_json %>
  <% end %>
<% end %>

<tr>
  <td><%= f.label :province_id, "Province & City" %></td>
  <td>
    <span id="province_select"><%= f.collection_select :province_id, Province.all, :id, :name, :include_blank => true %></span>
    <span id="city_select"><%= f.collection_select :city_id, @contact.addresses[0].province.try(:cities) || [], :id, :name, :include_blank => true %></span>
  </td>
</tr>
