<table style="width:100%">
  <tr>
    <th><%= Contact.human_attribute_name('name') %></th>
    <th><%= Address.human_attribute_name('province') %></th>
    <th><%= Address.human_attribute_name('city') %></th>
    <th><%= Contact.human_attribute_name('company') %></th>
    <th><%= Contact.human_attribute_name('position') %></th>
    <th><%= Contact.human_attribute_name('mobile') %></th>
    <th><%= Contact.human_attribute_name('phone') %></th>
  </tr>

  <% @contacts.each do |contact| %>
    <tr>
      <td><%= link_to contact.name, contact %></td>
      <td><%= contact.addresses[0].try(:province).try(:name) %></td>
      <td><%= contact.addresses[0].try(:city).try(:name) %></td>
      <td><%= contact.company %></td>
      <td><%= contact.position %></td>
      <td><%= contact.mobile %></td>
      <td><%= contact.phone %></td>
    </tr>
  <% end %>
</table>
