<div class="title">
  <h1>Listing contacts</h1>
</div>

<div class="inner">
  <div id="contacts">
    <%= render 'contacts' %>
  </div>

  <br />

  <%= link_to 'New Contact', new_contact_path %>
</div>

<% content_for :side do %>
  <div class="inner">
    <%= form_tag contacts_path, :method => 'get', :id => 'contacts_search' do %>
      <div>
        <%= label_tag :q, "Enter name, province or city:" %><br />
        <%= text_field_tag :q, params[:q], :autocomplete => "off", :size => "54" %>
      </div>
      <div>
        <%= submit_tag "Search", :name => nil %>
      </div>
    <% end %>
  </div>
<% end %>
