<div class="title">
  <h1><%= @contact.name %></h1>
</div>
<div class="inner">
  <% unless @contact.addresses.empty? %>
    <h2>
      <%= @contact.addresses[0].province.try(:name) %> -
      <%= @contact.addresses[0].city.try(:name) %>
    </h2>
  <% end %>

  <div class="add_note">
    <h2>Add a new note</h2>
    <%= render 'notes/form' %>
  </div>

  <% unless Activity.aggregate_for(@contact).empty? %>
    <div id="messages">
      <%= render Activity.aggregate_for(@contact).order('created_at DESC') %>
    </div>
  <% end %>
</div>

<% content_for :side do %>
  <div class="inner">
    <%= link_to 'Edit', edit_contact_path(@contact) %>

    <div class="add_order">
      <h2>Add a new order</h2>
      <%= render 'orders/form' %>
    </div>
  </div>
<% end %>
