<% title @contact.name, false %>
<% stylesheet "jquery-ui/jquery-ui", :media => "screen" %>
<% javascript "jquery-ui" %>

<% content_for :head do %>
  <%= javascript_tag do %>
    $(function() {
      $("#add_order").dialog({
        autoOpen: false,
        width: 480,
        height: 400,
        modal: true
      });
      $("#create_order .button a").click(function() {
        $("#add_order").dialog("open");
      });
    });
  <% end %>
<% end %>

<% content_for :header do %>
  <div class="buttons">
    <ul>
      <li><%= link_to t('.edit'), edit_contact_path(@contact) %></li>
    </ul>
  </div>
  <h1><%= @contact.name %></h1>
  <hr class="space">
  <div>
    <div>
      <% unless @contact.addresses.empty? %>
        <%= @contact.addresses[0].province.try(:name) %>
        <%= @contact.addresses[0].city.try(:name) %>
      <% end %>
    </div>
    <div>
      <%= @contact.company %>
      <%= @contact.position %>
    </div>
  </div>
<% end %>

<div class="inner">
  <div class="add_note">
    <h2><%= t('.add_a_new_note') %></h2>
    <%= render 'notes/form' %>
  </div>

  <% unless Activity.aggregate_for(@contact).empty? %>
    <div id="messages">
      <%= render Activity.aggregate_for(@contact).order('created_at DESC') %>
    </div>
  <% end %>
</div>

<% content_for :side do %>
  <div class="inner">
    <div id="create_order">
      <div class="button">
        <%= link_to "javascript:void(0)" do %>
          <span><%= t('.add_a_new_order') %></span>
        <% end %>
      </div>
    </div>
    <div id="add_order" class="block add_order" title="<%= t('.add_a_new_order') %>" style="display:none">
      <div class="indent">
        <%= render 'orders/form' %>
      </div>
    </div>

    <div class="block transaction_summary">
      <h2><%= t('.transaction_summary') %></h2>
      <div class="indent">
        <% unless @completed_orders.empty? %>
          <table>
            <tr>
              <td class="label"><%= t('.deal.latest_deal') %></td>
              <td>
                <%= link_to latest_order = @completed_orders.order('updated_at DESC').first do %>
                  <%= "##{latest_order.number}" -%>
                <% end %>
                (<%= friendly_date(latest_order.updated_at) %>)
              </td>
            </tr>
            <tr>
              <td class="label"><%= t('.deal.total_number') %></td>
              <td><%= @completed_orders.size %></td>
            </tr>
            <tr>
              <td class="label"><%= t('.deal.total_products') %></td>
              <td><%= @completed_orders.all.sum(&:total_products) %></td>
            </tr>
            <tr>
              <td class="label"><%= t('.deal.total_price') %></td>
              <td><%= number_to_currency(@completed_orders.all.sum(&:total_price)) %></td>
            </tr>
          </table>
        <% else %>
          <%= t('.deal.no_transactions') %>
        <% end %>
      </div>
    </div>

    <div class="block contact_details">
      <h2><%= t('.contact_details') %></h2>
      <table>
        <% unless @contact.mobile.blank? %>
          <tr>
            <td class="label"><%= Contact.human_attribute_name('mobile') %></td>
            <td><%= @contact.mobile %></td>
          </tr>
        <% end %>
        <% unless @contact.phone.blank? %>
          <tr>
            <td class="label"><%= Contact.human_attribute_name('phone') %></td>
            <td><%= @contact.phone %></td>
          </tr>
        <% end %>
        <% unless @contact.type1.blank? %>
          <tr>
            <td class="label"><%= Contact.human_attribute_name('type1') %></td>
            <td><%= @contact.type1_name %></td>
          </tr>
        <% end %>
        <% unless @contact.type2.blank? %>
          <tr>
            <td class="label"><%= Contact.human_attribute_name('type2') %></td>
            <td><%= @contact.type2_name %></td>
          </tr>
        <% end %>
        <% unless @contact.type3.blank? %>
          <tr>
            <td class="label"><%= Contact.human_attribute_name('type3') %></td>
            <td><%= @contact.type3_name %></td>
          </tr>
        <% end %>
        <% unless @contact.sex.nil? %>
          <tr>
            <td class="label"><%= Contact.human_attribute_name('sex') %></td>
            <td><%= @contact.sex_name %></td>
          </tr>
        <% end %>
        <% unless @contact.age_range.blank? %>
          <tr>
            <td class="label"><%= Contact.human_attribute_name('age_range') %></td>
            <td><%= @contact.age_range_name %></td>
          </tr>
        <% end %>
        <% unless @contact.email.blank? %>
          <tr>
            <td class="label"><%= Contact.human_attribute_name('email') %></td>
            <td><%= mail_to @contact.email %></td>
          </tr>
        <% end %>
        <% unless @contact.source_id.blank? %>
          <tr>
            <td class="label"><%= Contact.human_attribute_name('source_id') %></td>
            <td><%= @contact.source.name %></td>
          </tr>
        <% end %>
        <% unless @contact.interest.blank? %>
          <tr>
            <td class="label"><%= Contact.human_attribute_name('interest') %></td>
            <td><%= @contact.interest_name %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

  <% unless @contact.background_info.blank? %>
    <div class="inner">
      <div class="block background_info">
        <h2><%= t('.background_info') %></h2>
        <div class="indent">
          <%= @contact.background_info %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
