<%= form_for @address do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :province_id %><br />
    <%= f.collection_select :province_id, Province.all, :id, :name, :prompt => "Select a province" %>
  </p>
  <p>
    <%= f.label :city_id %><br />
    <%= f.collection_select :city_id, City.all, :id, :name, :prompt => "Select a city" %>
  </p>
  <p><%= f.submit %></p>
<% end %>
