<% title "Addresses" %>

<table>
  <tr>
    <th>Province</th>
    <th>City</th>
  </tr>
  <% for address in @addresses %>
    <tr>
      <td><%= address.province.try(:name) %></td>
      <td><%= address.city.try(:name) %></td>
      <td><%= link_to "Show", address %></td>
      <td><%= link_to "Edit", edit_address_path(address) %></td>
      <td><%= link_to "Destroy", address, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Address", new_address_path %></p>
