<% title "Address" %>

<p>
  <strong>Province:</strong>
  <%= @address.province.name %>
</p>
<p>
  <strong>City:</strong>
  <%= @address.city.name %>
</p>

<p>
  <%= link_to "Edit", edit_address_path(@address) %> |
  <%= link_to "Destroy", @address, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", addresses_path %>
</p>
