<div class="title">
  <h1>Show line_item</h1>
</div>

<div class="inner">
  <p id="notice"><%= notice %></p>

  <p>
    <b>Order:</b>
    <%= @line_item.order_id %>
  </p>

  <p>
    <b>Product:</b>
    <%= @line_item.product_id %>
  </p>


  <%= link_to 'Edit', edit_line_item_path(@line_item) %> |
  <%= link_to 'Back', line_items_path %>
</div>
