<% javascript "nested_form" %>

<%= nested_form_for @billboard, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>

  <%= f.fields_for :documents do |builder| %>
    <%= render "billboards/document_fields", :f => builder %>
  <% end %>
  <div>
    <%= f.link_to_add t('.add_an_attachment'), :documents %>
  </div>

  <br />
  <p><%= f.submit %></p>
<% end %>
