<% title t('.billboards'), false %>

<% content_for :header do %>
  <div class="buttons">
    <ul>
      <li><%= link_to t('.new_billboard'), new_billboard_path %></li>
    </ul>
  </div>
  <h1><%= link_to t('.billboards'), billboards_path %></h1>
<% end %>

<div class="inner">
  <div class="listing">
    <% @billboards.each_with_index do |billboard, index| %>
      <div class="item billboard<%= " first" if index == 0 %>">
        <div class="title">
          <%= link_to billboard.title, billboard %>
        </div>
        <div class="meta">
          <%= t('.before_username') %> <%= link_to billboard.user.username, billboard.user %> <%= t('.after_username') %><br />
          <%= t('.before_timestamp') %> <%= friendly_datetime(billboard.created_at) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
