<% title "Billboards" %>

<div class="inner">
  <div class="listing">
    <% @billboards.each_with_index do |billboard, index|  %>
      <div class="billboard<%= " first" if index == 0 %>">
        <div class="title">
          <%= link_to billboard.title, billboard %>
        </div>
        <div class="meta">
          Posted by <%= link_to billboard.user.username, billboard.user %>,<br />
          at <%= billboard.created_at.strftime('%Y-%m-%d %H:%M:%S') %>
        </div>
      </div>
    <% end %>
  </div>

  <br />
  <p><%= link_to "New Billboard", new_billboard_path %></p>
</div>
