<% title "Billboard", false %>

<% content_for :head do %>
  <script type="text/javascript">
    $(function() {
      $('#add_note_button').click(function() {
        $('#add_note_form').show();
      });
    });
  </script>
<% end %>

<% content_for :header do %>
  <div class="buttons">
    <ul>
      <li><%= link_to "Edit", edit_billboard_path(@billboard) %></li>
      <li><%= link_to "Destroy", @billboard, :confirm => 'Are you sure?', :method => :delete %></li>
      <li><%= link_to "View All", billboards_path %></li>
    </ul>
  </div>
  <h1><%= link_to "Billboard", billboards_path %></h1>
<% end %>

<div class="inner">
  <div class="billboard">
    <div class="title">
      <%= @billboard.title %>
    </div>
    <div class="meta">
      Posted by <%= link_to @billboard.user.username, @billboard.user %>,
      at <%= @billboard.created_at.strftime('%Y-%m-%d %H:%M:%S') %>
    </div>
    <div class="content">
      <%= wrap(@billboard.content) %>
    </div>
    <% unless @billboard.documents.empty? %>
      <div class="documents">
        <h2>Attachments:</h2>
        <ul>
          <% for document in @billboard.documents %>
            <li><%= link_to document.attachment_file_name, document.attachment.url %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% unless Activity.aggregate_for(@billboard).empty? %>
      <div id="messages">
        <%= render Activity.aggregate_for(@billboard).order('created_at') %>
      </div>
    <% end %>

    <div class="add_note">
      <div id="add_note_button">Add a new note</div>
      <div id="add_note_form" style="display:none">
        <%= render 'notes/form' %>
      </div>
    </div>
  </div>
</div>
