<%= form_for @report do |f| %>
  <%= f.error_messages %>

  <table>
    <tr>
      <td class="label"><%= f.label :title %></td>
      <td><%= f.text_field :title %></td>
    </tr>
    <tr>
      <td class="label"><%= f.label :content %></td>
      <td><%= f.text_area :content %></td>
    </tr>
    <tr>
      <td class="label"><%= f.label :apply_to %></td>
      <td><%= f.collection_select :apply_to, User.options_for_select(:include_me => false), :id, :username, :include_blank => true %></td>
    </tr>
    <tr>
      <td>
      </td>
      <td>
        <%= f.submit t('.submit_report') %>
      </td>
    </tr>
  </table>
<% end %>
