<% title t('.reports'), false %>

<% content_for :header do %>
  <div class="buttons">
    <ul>
      <li><%= link_to t('.new_report'), new_report_path %></li>
    </ul>
  </div>
  <h1><%= link_to t('.reports'), reports_path %></h1>
<% end %>

<div class="inner">
  <div class="listing">
    <% @reports.each_with_index do |report, index| %>
      <div class="item report<%= " first" if index == 0 %>">
        <div class="title">
          <%= link_to report.title, report %>
        </div>
        <div class="meta">
          <%= t('.before_user') %> <%= link_to report.user.username, report.user %> <%= t('.after_user') %>,
          <%= t('.applying_to') %> <%= link_to report.applyee.username, report.applyee %><br />
          <%= t('.at') %> <%= report.created_at.strftime('%Y-%m-%d %H:%M:%S') %>
        </div>
      </div>
    <% end %>
  </div>
</div>
