<% title t('.report'), false %>

<% content_for :header do %>
  <div class="buttons">
    <ul>
      <li><%= link_to t('.edit'), edit_report_path(@report) %></li>
      <li><%= link_to t('.destroy'), @report, :confirm => t('.are_you_sure'), :method => :delete %></li>
      <li><%= link_to t('.view_all'), reports_path %></li>
    </ul>
  </div>
  <h1><%= link_to t('.report'), reports_path %></h1>
<% end %>

<div class="inner">
  <div class="item report">
    <div class="title">
      <%= @report.title %>
    </div>
    <div class="meta">
      <%= t('.before_user') %> <%= link_to @report.user.username, @report.user %> <%= t('.after_user') %>,
      <%= t('.applying_to') %> <%= link_to @report.applyee.username, @report.applyee %><br />
      <%= t('.at') %> <%= friendly_datetime(@report.created_at) %>
    </div>
    <div class="content">
      <%= wrap(@report.content) %>
    </div>

    <% unless Activity.aggregate_for(@report).empty? %>
      <div id="messages">
        <%= render Activity.aggregate_for(@report).order('created_at') %>
      </div>
    <% end %>

    <div class="add_note">
      <h2><%= t('.add_a_new_note') %></h2>
      <div id="add_note_form">
        <%= render 'notes/form' %>
      </div>
    </div>
  </div>
</div>
