<header>
  <h1><%= link_to "JZ CRM", root_url %></h1>

  <% if logged_in? %>
    <div id="user_nav">
      <%= current_user.username %> |
      <%= link_to "Profile", edit_user_path(current_user) %> |
      <%= link_to "Sign out", logout_path %>
    </div>
  <% end %>

  <div id="tabs">
    <ul>
      <li><%= link_to_with_current_indicator "Dashboard", root_url, :class => "left" %></li>
      <li><%= link_to_with_current_indicator "Reports", reports_path, :class => "left" %></li>
      <li><%= link_to_with_current_indicator "Tasks", tasks_path, :class => "right" %></li>
      <li><%= link_to_with_current_indicator "Orders", orders_path, :class => "right" %></li>
      <li><%= link_to_with_current_indicator "Contacts", contacts_path, :class => "right" %></li>
    </ul>
  </div>
</header>
