<header>
  <h1><%= link_to t('site.name'), root_url %></h1>

  <% if logged_in? %>
    <div id="user_nav">
      <%= current_user.username %> |
      <%= link_to t('.profile'), edit_user_path(current_user) %> |
      <%= link_to t('.sign_out'), logout_path %>
    </div>
  <% end %>

  <div id="tabs">
    <ul>
      <li><%= link_to_with_current_indicator t('.dashboard'), root_url, :class => "left" %></li>
      <li><%= link_to_with_current_indicator t('.billboard'), billboards_path, :class => "left#{" highlight" if highlighting_billboard_tab?}" %></li>
      <li><%= link_to_with_current_indicator t('.analytics'), analytics_path, :class => "left" %></li>
      <li><%= link_to_with_current_indicator t('.users'), users_path, :class => "left" %></li>
      <li><%= link_to_with_current_indicator t('.tasks'), tasks_path, :class => "right" %></li>
      <li><%= link_to_with_current_indicator t('.orders'), orders_path, :class => "right" %></li>
      <li><%= link_to_with_current_indicator t('.contacts'), contacts_path, :class => "right" %></li>
    </ul>
  </div>
</header>
