<!DOCTYPE html>
<html>
<head>
  <title>Jzcrm</title>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div id="wrapper">
    <div class="container">
      <table class="content">
	<tr>
	  <td class="main">
	    <%= yield %>
	  </td>
	  <td class="side">
	  </td>
	</tr>
      </table>
    </div>
  </div>
</body>
</html>
